<div class="outerDiv">
    <div class="contentDiv">

        <div class="signInImageDiv">
            <h1 style="color: rgb(64, 195, 221);">Zhoppy</h1>
            <p>Your favorite styles, all in one place—delivered to your door with just a tap.</p>
            <img src="/images/shopping.jpg" class="signInImage">
        </div>
        <div class="signInDiv">
            {{yield}}
        </div>
    </div>
</div>
