<aside class="sidebar">
   <nav class="nav">
        {{#if this.isSeller}}
            <LinkTo @route="dashboard.seller.products" class="nav-link" @activeClass="selected">My Products</LinkTo>
        {{else if this.isAdmin}}
            <LinkTo @route="dashboard.admin.sellers" class="nav-link" @activeClass="selected">Sellers</LinkTo>
        {{else}}
            <LinkTo @route="dashboard.buyer.products" class="nav-link" @activeClass="selected">Products</LinkTo>
            <LinkTo @route="dashboard.buyer.cart" class="nav-link" @activeClass="selected">Cart</LinkTo>
        {{/if}}
    </nav>
</aside>